
//fonts
$fonte : 'Roboto',sans-serif;

//cores

$cor-primaria: #495371;
$cor-secundaria: #74959A;
$cor-terciaria: #F1E0AC;
$cor-final : #B5D5C5;

//tamanho das fontes principais

$tamanho-do-texto : 3rem;